[Desktop Entry]
Name=RimWorld
Comment=Play this game on Steam
Exec=steam steam://rungameid/294100
Icon=steam_icon_294100
Terminal=false
Type=Application
Categories=Game;
